// 1450px
@include xxxxlg-xxxxxlg {
  // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
  h1 {
    font-size: 70px;
  }
  @include hero-xxxlg-xxxxlg;
}
// 1250px
@include xlg-xxlg-extra {
  @include hero-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
  .auto__container {
    padding: 0 30px;
  }
  h1 {
    font-size: 60px;
  }
  .countdown {
    font-size: 34px;
    min-height: 36px;
  }
  @include hero-xlg-xxlg;
}
// 1024px
@include lg-xlg {
  ::-webkit-scrollbar {
    display: none;
  }
  h1 {
    font-size: 55px;
  }
  .countdown {
    font-size: 30px;
    min-height: 32px;
  }
  @include hero-lg-xlg;
}
// 930px
@include md-lg {
  h1 {
    font-size: 50px;
  }
  @include header-md-lg;
  @include hero-md-lg;
  @include info-md-lg;
  @include footer-md-lg;
}
// 750px
@include sm-md {
  .auto__container {
    padding: 0 20px;
  }
  h1 {
    font-size: 45px;
  }
  .countdown {
    font-size: 25px;
    min-height: 27px;
  }
  @include hero-sm-md;
  @include footer-sm-md;
}
// 650px
@include sm-md-extra {
  @include hero-sm-md-extra;
}
// 540px
@include xsm-sm {
  h1 {
    font-size: 38px;
  }
  .countdown {
    font-size: 20px;
    min-height: 22px;
    span {
      margin-right: 10px;
    }
  }
  @include header-xsm-sm;
  @include hero-xsm-sm;
  @include info-xsm-sm;
  @include footer-xsm-sm;
}
// 440px
@include xxsm-xsm {
  @include hero-xxsm-xsm;
}
// 390px
@include xxxsm-xxsm {
  // @include hero-xxxsm-xxsm;
}
